{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div id="div_title">
        <h1 id="title">Symfony land</h1>
    </div>

    <div id="menu_categories">
        {% for category in categories %}
            <div>
                <a href="{{ path('app_category', { 'id': category.id}) }}">{{ category.name }}</a>
            </div>
        {% endfor %}
    </div>

    {% if articles|length > 0  %}
        {% for article in articles %}
            <div class="article_home">
                <h3>{{ article.title }}</h3>
                <div>
                    <p>{{ article.category.name }}</p>
                    <p> par {{ article.author.email }}</p>
                    <p>le {{ article.datetime|date("m/d/Y") }}</p>
                </div>
                <p><a href="{{ path('app_article', { 'id': article.id}) }}">Lire l'article</a></p>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
