{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h2>{{ category.name }}</h2>
    {% if is_granted('ROLE_AUTHOR') %}
        <div>
            <a href="{{ path("app_article_create", {'id': category.id}) }}">Créer un article</a>
        </div>
    {% endif %}

    {% if articles|length > 0  %}
        {% for article in articles %}
            <div>
                <h3>{{ article.title }}</h3>
                <p>{{ article.author.email }}</p>
                <p>{{ article.datetime|date("m/d/Y") }}</p>
                <p><a href="{{ path('app_article', { 'id': article.id}) }}">Lire l'article</a></p>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
