{% extends 'base.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}

{% block body %}
    <h2>{{ category.name }}</h2>
    {% if is_granted('ROLE_AUTHOR') %}
        <div class="add">
            <a href="{{ path("app_article_create", {'id': category.id}) }}">Créer un article</a>
        </div>
    {% endif %}

    {% if articles|length > 0  %}
        {% for article in articles %}
            <div class="article_home">
                <h3>{{ article.title }}</h3>
                <div>
                    <p>par {{ article.author.email }}</p>
                    <p>le {{ article.datetime|date("m/d/Y") }}</p>
                </div>
                <p><a href="{{ path('app_article', { 'id': article.id}) }}">Lire l'article</a></p>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
