{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <div id="article_indiv">
        <h3>{{ article.title }}</h3>
        {% if user == article.author.email%}
        <div id="article_edition">
            <p><a href="{{ path('app_article_edit', {"slug": article.slug}) }}">{% trans %}Edit{% endtrans %}</a></p>
            <p><a href="{{ path('app_article_delete', {"id": article.id}) }}">{% trans %}Delete{% endtrans %}</a></p>
        </div>

        {% endif %}
        <p>{{ article.content|nl2br }}</p>

        <div id="article_info">
            <p>{{ article.category.name }}</p>
            <p>par {{ article.author.email }}</p>
            <p>le {{ article.datetime|date("m/d/Y") }}</p>
        </div>

        <div id="commentaries">
            <h4>{% trans %}Commentaries{% endtrans %}</h4>
            {% if is_granted('ROLE_USER') %}
            <div id="commentaries_form">
                {{ form(form) }}
            </div>
            {% endif %}
            {% for comment in article.comments %}
            <div class="commentary">
                <p>{{ comment.content }}</p>
                {% if user == article.author.email or is_granted('ROLE_MODERATOR') %}
                <div>
                    <p><a href="{{ path('app_comment_edit', {"id": comment.id}) }}">{% trans %}Edit{% endtrans %}</a></p>
                    <p><a href="{{ path('app_comment_delete', {"id": comment.id}) }}">{% trans %}Delete{% endtrans %}</a></p>
                </div>
                {% endif %}
                <p class="commentary_author">par {{ comment.author.email }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
